:root {

    /* === Cover / Landing area === */
    --cover-text-color: #002330; //#292C2C; //#37501a;
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: #33CCFF; //#86c440;
    --highlight-contrast: var(--cover-text-color);
    /*iverse colors used for :hover */
    --highlight-inverse: #ff9933; //var(--cover-text-color);
    --highlight-inverse-contrast: white;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);
    --cover-title-text-shadow: white 0px 0px 7px;


    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: #ff9933; //#9fd067;


    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: #33CCFF;
    /* Light section - background color */
    --section-light-bg-color: #f2efe8;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: #ff9933; //#b80135;

    /* Light&Dark section >quote. Supressive color, compared to 'Light section - text color'*/
    --section-uni-quote: #292C2C;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7;

    /* Commands bg color */
    --section-command-color: #002D3D;
    --section-command-bg-color: #33CCFF;
    /* Events bg color */
    --section-event-color: #3D1E00;
    --section-event-bg-color: #ff9933;
    /* Read model bg color */
    --section-read-color: #285100;
    --section-read-bg-color: #CCFF99;
    /* Policy bg color */
    --section-policy-color: #2F172F;
    --section-policy-bg-color: #CC99CC;


    /* === Footer === */
    --footer-color-background: #002330;
    --footer-color: #bbc7cc;
}