<form action="https://send.pageclip.co/dUDjSlym8aUlwHnUG7lh2yTrzPzsoLxp" class="pageclip-form" method="post">
  <p>
    <label for="email">E-mail</label><br />
    <input type="email" id="email" name="email" placeholder="johndoe@amazingproject.com" maxlength="null" minlength="null" required="required">
  </p>
  <p>
    <label for="subject">Subject</label><br />
    <input type="text" id="subject" name="subject" placeholder="" value="Zapytanie o szkolenie ES" maxlength="null" minlength="null" required="required">
  </p>
  <p>
    <label for="textarea">Describe your needs</label><br />
    <textarea id="textarea" name="description" maxlength="1000" minlength="null" required="required" cols="60" rown="10"></textarea>
  </p>
  <p>
    <button type="submit" class="pageclip-form__submit"><span>Send</span></button>
  </p>

</form>
